In this module we are going to solve basics python assignment. The question and answers are inline and added code wherever necessary

## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

-*/+ are Mathematical operators
'hello' and -87.8 are values

In [25]:
# * is a mathematical operator used for multiplication when used twice (**) 
# - is a mathematical operator used for subtraction
# / is a mathematical operator used for division and // for floor division that gives information about the divisor of the division
# + is a mathematical operator used for Addition
print('Multiply 2 and 3:', 2*3)
print('what is 2 power 3:', 2**3)
print('Subtract 2 from 5:', 5-2)
print('Add 2 and 5:', 5+2)
print('what is 5 divided by 2:',5/3)
print('How many multiples of 2 are present in 5:',5//2)

# hello is a string
print(type('hello'))
#-87.8 is an integer
print(type(-87.8))
#6 is an integer
print(type(6))

Multiply 2 and 3: 6
what is 2 power 3: 8
Subtract 2 from 5: 3
Add 2 and 5: 7
what is 5 divided by 2: 1.6666666666666667
How many multiples of 2 are present in 5: 2
<class 'str'>
<class 'float'>
<class 'int'>

## 2. What is the difference between string and variable?

a string is a value representing text

a variable is a name that can refer to any value.

the quotes are there to indicate that the text that they enclose is not code, it is a value . quotes, double or single, (they mean the same, but can’t be matched with each other) are used to create string literals,

In [8]:
# 'hello' is a string
print(type('hello'))
# var, var1 are variables
var = 'hello'
var1 = 5
print(type(var))
print(type(var1))

<class 'str'>
<class 'str'>
<class 'int'>

## 3. Describe three different data types.

Standard or Built-In Data Types in Python
1. Numbers : 
The four numeric types supported by Python include integers, float, long, and complex numbers. 
2. Strings : 
Strings represent arrays of characters.
3. Lists : 
Lists are amongst the most versatile and used data types in Python. Lists function in the same way as strings. 
4. Tuples : 
Tuples are referred to as containers that have several values separated by commas and mentioned inside parentheses. Tuples are not too different from lists.
5. Dictionary : 
Dictionaries in Python enable storage and access to data that has something or the other to do with computers as well as humans. They don’t follow any order and have values and keys. Keys are unique, and values could be integers, floats, strings, or even a combination of these.

The differences between the two – lists contain mutable objects and are enclosed between square brackets while tuples contain immutable objects and are enclosed between parentheses.

## 4. What is an expression made up of? What do all expressions do?

**Expression**: An expression is a combination of operators, constants and variables. An expression may consist of one or more operands, and zero or more operators to produce a value. Expressions may be of the following types:

**Constant expressions:** Constant Expressions consists of only constant values. A constant value is one that doesn’t change. 

Examples: 5, 10 + 5 / 6.0, 'x’

**Integral expressions :** Integral Expressions are those which produce integer results after implementing all the automatic and explicit type conversions. 

Examples: x, x * y, x + int( 5.0) where x and y are integer variables.

**Floating expressions:** Float Expressions are which produce floating point results after implementing all the automatic and explicit type conversions.


**Relational expressions:** Relational Expressions yield results of type bool which takes a value true or false. When arithmetic expressions are used on either side of a relational operator, they will be evaluated first and then the results compared. Relational expressions are also known as Boolean expressions.

Examples: x <= y, x + y > 2

**Logical expressions:** Logical Expressions combine two or more relational expressions and produces bool type results.

Examples:  x > y && x == 10, x == 10 || y == 5

**Pointer expressions** : Pointer Expressions produce address values.

Examples: &x, ptr, ptr++
where x is a variable and ptr is a pointer.

**Bitwise expressions** : Bitwise Expressions are used to manipulate data at bit level. They are basically used for testing or shifting bits.

Examples:
x << 3
shifts three bit position to left

y >> 1
shifts one bit position to right.

Shift operators are often used for multiplication and division by powers of two.

**compound expressions:** An expression may also use combinations of the above expressions. Such expressions are known as compound expressions.

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Expressions** only contain identifiers, literals and operators, where operators include arithmetic and boolean operators, the function call operator () the subscription operator [] and similar, and can be reduced to some kind of "value", which can be any Python object

**Statements** on the other hand, are everything that can make up a line (or several lines) of Python code. Note that expressions are statements as well

In [ ]:
# 10 is an expression
# spam = 10 is a statement

## 6. After running the following code, what does the variable bacon contain?

In [10]:
bacon = 22
print(bacon + 1)

#The variable bacon contains the value 23

23

## 7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

In [20]:
# both the expressions results the same value
print("'spam'+'spampspam' prints the value:  "'spam' + 'spamspam')
print('spam'*3)

'spam'+'spampspam' prints the value:  spamspamspam
spamspamspam

## 8. Why is eggs a valid variable name while 100 is invalid?
Variable name should start with letter(a-zA-Z) or underscore (_).

In [24]:
eggs = 100
print(type(eggs))

<class 'int'>

In [23]:
100 = 'egg'
print(type(100))

SyntaxError: ignored

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
integer - int()

floting - float()

string - str()

## 10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [26]:
print('I have eaten ' + 99 + ' burritos.')

TypeError: ignored

In [27]:
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.